<h2>Edit the institution: {{institution.name}}</h2>

<form action="/institution/{{this.id}}/edit" method="post">

  <label for="input-name">name</label>
  <input type="text" id="input-name" name="name" value="{{institution.name}}" />

  <label for="input-taxNumber">Tax Number</label>
  <input type="text" id="input-taxNumber" name="taxNumber" value="{{institution.taxNumber}}" />

  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" value="{{institution.password}}" />

  <label for="input-email">Email</label>
  <input type="email" name="email" id="input-email" value="{{institution.email}}" />

  <button type="submit">Save changes</button>

</form>