<h2>List of Institutions</h2>
<hr>

{{#each institutions}}
  <div>
    <h3>
      nome:
      {{name}}
    </h3>
    <p>
      id da Institution:
      {{id}}
    </p>
    <a href="/institution/{{id}}">
      View profile
    </a>
    {{#if (isEqual id ../currentUser._id)}}
    <a href="/institution/{{id}}/edit">
      Edit profile
    </a>
    <form action="/institution/{{id}}/delete" method="POST">
      <button>
        Delete
      </button>
    </form>
    {{/if}}
  </div>
  <hr />
{{/each}}