<div class="card mb-3" style="max-width: 540px;"></div>
<div class="row g-0">
  <div class="col-md-4">
    <img src="{{institution.image}}" class="img-thumbnail" alt="..." />
  </div>
  <div class="col-md-8">
    <div class="card-body bg-warning mb-3">
      <h5> {{institution.name}} </h5>
      <div>
        {{id}}
        {{#if (isEqual institution.id currentUser._id)}}
        <p>
          Welcome, this is your profile page!
        </p>

        <a href="/institution/{{institution._id}}/edit" class="btn btn-primary">
          Edit Profile
        </a>

        {{else}}
        <p>
          Still no logged in user, sorry!
        </p>
        {{/if}}
        <div>
          <h5 class="card-title">{{institution.email}}</h5>
          <p class="card-text">description of the institution
          </p>
          <a href="#" class="btn btn-primary">link to institution web site</a>
        </div>
        {{donation.id}}
        <form action="/institution/{{institution._id}}/donation" method="post">
          <input type="text" name="description" id="description" />
          <button type="submit" class="btn btn-primary">
            donate
          </button>
        </form>
        <ul>
          {{#each institution.donations}}
          <li>{{donor_id.name}} - {{description}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>