<h2 class="col-12 text-center">
  Edit
</h2>
<div class="d-flex justify-content-center">
  {{#if currentUser}}

  <form action="/person/{{ person.id }}/edit" method="post" enctype="multipart/form-data" class="col-12 col-md-4">
    <label for="input-name" class="form-label"> name </label>
    <input type="text" class="form-control" id="input-name" name="name" value="{{ person.name }}" />
    <label for="input-password" class="form-label"> Password </label>
    <input type="password" class="form-control" name="password" id="input-password" value="{{ person.password }}" />
    <label for="input-email" class="form-label"> Email </label>
    <input type="email" class="form-control" name="email" id="input-email" value="{{ person.email }}" />
    <div class="form-group">
      <label for="image-input" class="form-label"> Image: </label>
      <input type="file" class="form-control" name="image" id="image-input" class="form-control-file" />
      <input type="text" name="existingImage" hidden id="" value="{{ person.image }}" />
    </div>
    <button type="submit" class="btn btn-primary">
      save
    </button>
  </form>
  {{/if}}