{{#if currentUser}}

<h2>
  Edit the Company:
  {{ person.name }}
</h2>
<form action="/company/{{ person.id }}/edit" method="post" enctype="multipart/form-data">
  <label for="input-name"> name </label>
  <input type="text" id="input-name" name="name" value="{{ person.name }}" />
  <label for="input-password"> Password </label>
  <input type="password" name="password" id="input-password" value="{{ person.password }}" />
  <label for="input-email"> Email </label>
  <input type="email" name="email" id="input-email" value="{{ person.email }}" />
  <div class="form-group">
    <label for="image-input"> Image: </label>
    <input type="file" name="image" id="image-input" class="form-control-file" />
    <input type="text" name="existingImage" hidden id="" value="{{ person.image }}" />
  </div>
  <button type="submit">
    save
  </button>


</form>
{{/if}}