<div class="card mb-3" style="max-width: 540px;"></div>
<div class="row g-0">
  <div class="col-md-4">
    <img src="{{person.image}}" class="img-thumbnail" alt="..." />
  </div>
  <div class="col-md-8">
    <div class="card-body bg-warning mb-3">
      <h5> {{person.name}} </h5>
      <div>
        {{id}}
        {{#if (isEqual person.id currentUser._id)}}
        <p>
          Welcome, this is your profile page!
        </p>

        <a href="/person/{{person._id}}/edit" class="btn btn-primary">
          Edit Profile
        </a>

        {{else}}
        <p>
          Still no logged in user, sorry!
        </p>
        {{/if}}
      </div>
      <h5 class="card-title">{{person.email}}</h5>
      <p class="card-text">description of the person
      </p>
      <a href="#" class="btn btn-primary">link to person web site</a>
    </div>
  </div>
</div>
</div>