<h2>List of Companies</h2>
<hr>

{{#each companies}}
<div>
  <h3>nome: {{this.name}}</h3>
  <p>id: {{this.id}}</p>
  <a href="/company/{{this.id}}">show</a>
  <a href="/company/{{this.id}}/edit">Edit</a>
  <form action="/company/{{this.id}}/delete" method="POST"><button>Delete</button>
  </form>
</div>
<hr>
{{/each}}