<div class="card mb-3" style="max-width: 540px;"></div>
<div class="row g-0">
  <div class="col-md-4">
    <img src="{{company.image}}" class="img-thumbnail" alt="..." />
  </div>
  <div class="col-md-8">
    <div class="card-body bg-warning mb-3">
      <h5> {{company.name}} </h5>
      <div>
        {{id}}
        {{#if (isEqual company.id currentUser._id)}}
        <p>
          Welcome, this is your profile page!
        </p>
        <button>
          <a href="/company/{{company._id}}/edit" class="btn btn-primary">
            Edit Profile
          </a>
        </button>
        {{else}}
        <p>
          Still no logged in user, sorry!
        </p>
        {{/if}}
      </div>


      <h5 class="card-title">{{company.email}}</h5>
      <p class="card-text">description of the company
      </p>
      <a href="#" class="btn btn-primary">link to company web site</a>
    </div>
  </div>
</div>