<h2>
  Welcome,
  {{company.name}}
  !
</h2>
<p>
  This is your profile page!
</p>
<button>
  <a href="/company/profile">
    Reload the page
  </a>
</button>
{{company.email}}
<img src="{{company.image}}" class="img-thumbnail" alt="..." />


{{#if (isEqual id currentUser._id)}}
<button>
  <a href="/company/{{company._id}}/edit">
    Edit Profile
  </a>
</button>
{{else}}
<p>
  Still no logged in user, sorry!
</p>
{{/if}}